{% extends 'skills/base.html' %}
{% block content %}
<div class="center">
<h1>ЮгСтройИнвест — создатель концептуальных микрорайонов для комфортной жизни.</h1>
<p>21 год мы строим будущее. Внедряем лучшее, сохраняя традиции. Воплощаем проекты, которые впечатляют. Сегодня компания задает новый уровень качества строительства, динамично двигает отрасль вперед. Надежность, профессионализм, индивидуальный подход: преимущества ЮгСтройИнвест выбирают тысячи российских семей!</p>
<h2>Нас рекомендуют друзьям!</h2>
<p>Хотите купить квартиру в одном из микрорайонов «ЮгСтройИнвест»?</p>
<p>Войдите или зарегистрируйтесь, чтобы выбрать квартиру.</p>
</div>
{% endblock %}